@tailwind base;
@tailwind components;
@tailwind utilities;

/* garante tela toda */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #fafafa, #f4f4f5); /* zinc-50 -> zinc-100 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}
